/* for everything */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    line-height: 1.1;
    text-align: center;
    overflow: hidden;
}

/* error msg */
.errorMessage {
    display: none;
    background-color: #475270;
    color: white;
    text-align: center;
}

/* title screen */

.title {
    height: 100vh;
    background-image: url('/images/ImpressionSunrise.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainDiv {
    padding-bottom: 5vh;
}

.titleText {
    font-size: clamp(2.5rem, 8vw, 8rem);
    font-family: "Playfair Display SC", serif;
    margin-bottom: 0.5rem;
}

.desc {
    font-size: clamp(0.3rem, 2vw, 0.9rem);
    color: #3a5669;
}

.divider {
    width: 90%;
    border: none;
    height: clamp(0.5px, 3vw, 1.5px);
    background-color: white;
    margin: 1rem auto;
}

.menu button {
    background: none;
    border: none;
    font-size: clamp(1.2rem, 4vw, 1.85rem);
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor: pointer;
}

.menu button:hover {
    color: #ffd6c8;
    font-style: italic;
}

/* content */
.content {
    display: none; /* this changes to grid when button clicked */
    height: 100vh;
    background-image: url('/images/BlurryImpressionSunrise.jpg');
    background-size: cover;
    background-position: center;
    grid-template-rows: auto 1fr;
    justify-items: center;
    padding: 2rem;
}

/* collection */
.paintingsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 6vw;
    width: 100%;
}

.painting {
    width: 90%;
    max-width: 320px;
    text-align: center;
}
  
.painting img {
    width: 95%;
    height: auto;
}

.painting h3 {
    margin-top: 0.5rem;
    font-size: clamp(0.6rem, 4vw, 1rem);
    cursor: pointer;
}

.painting h3:hover {
    color: #ffd6c8;
    font-style: italic;
}

.painting p {
    margin: 0.2rem 0;
    font-size: clamp(0.4rem, 4vw, 0.8rem);
}

.return {
    display: inline-block;
    background: none;
    border: none;
    margin-bottom: 0.7rem;
    font-size: clamp(0.6rem, 4vw, 1rem);
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    color: white;
}

.return:hover {
    color: #ffd6c8;
    font-style: italic;
}

/* individual painting */
.paintingDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    margin: 0 auto;
    max-height: 90vh;
}

.paintingInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(0.3rem, 4vw, 1rem);
    line-height: 1.5rem;
    color: white;
}

.paintingBigInfo {
    padding: 1rem;
    line-height: 1.5rem;
}

.paintingInfo h2 {
    font-size: clamp(0.6rem, 7vw, 1.5rem);
}

.paintingInfo h3 {
    font-size: clamp(0.3rem, 7vw, 1.2rem);
}

.label {
    font-size: clamp(0.2rem, 7vw, 1rem);
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    color: #ffd6c8;
}

.value {
    font-size: clamp(0.2rem, 7vw, 1rem);
}

.paintingInfo img {
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    height: auto;
    object-fit: contain;
}

.commentsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    min-height: 300px;
    padding: 1.5rem;
}

.commentsDiv h3 {
    font-size: clamp(0.7rem, 4vw, 1.4rem);
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.commentBox {
    height: 400px;
    width: 100%;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

/* single comment */
.comment {
    margin-bottom: 10px;
    border-bottom: 1px solid #3a566978;
}

.nameText {
    font-size: clamp(0.3rem, 4vw, 1rem);
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #3a5669;
    margin-bottom: 3px;
}

.commentText {
    font-size: clamp(0.3rem, 4vw, 1rem);
    font-family: "Ovo", serif;
    font-weight: 400;
    font-style: normal;
    color: #7199a4;
    margin-left: 10px;
    margin-bottom: 3px;
}

/* form */
.commentorName, .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: clamp(0.2rem, 4vw, 1rem);
    font-family: "Ovo", serif;
    border: none;
}

.commentButton {
    font-size: clamp(0.5rem, 4vw, 1.2rem);
    font-family: "Rosarivo", serif;
    color: white;
    background: none;
    border: none;
    margin-top: 2px;
    cursor: pointer;
}

.commentButton:hover {
    color: #ffd6c8;
    font-style: italic;
}

.noCommentsMsg {
    font-size: clamp(0.3rem, 4vw, 1rem);
    font-family: "Ovo", serif;
    font-style: italic;
    color: #7199a4;
}

/* mobile view */
@media (max-width: 500px) {
    body {
        overflow-y: auto;
        max-height: 100vh;
    }
    .paintingsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .painting {
        max-width: 150px;
    }
    .paintingDiv {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        width: 100%;
        max-height: 100vh;
    }
    .paintingInfo {
        width: 100%;
        margin-top: -0.5rem;
    }
    .paintingInfo img {
        max-width: 270px;
    }
    .commentsDiv {
        width: 100%;
        max-width: 400px;
        margin-top: -2.5rem;
    }
    .commentBox {
        max-height: 15vh;
    }
    .input {
        min-height: 20px;
    }
}